{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}
    <header>
        <h1>This is our catalog<br />
        choose what you desire.</h1>
{#        <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>#}
    </header>
    
    {% include 'includes/dropdown_filters.html' %}
    
    <section class="tiles">
        {% for good in goods %}
            <article class="style7">
                <span class="image">
                    <img src="{{ good.image.url }}" alt="" />
                </span>
                <a href="{% url 'goods:product' good.slug %}">
                    <h2>{{ good.name }}</h2>
                    <div class="content">
                        <p>{{ good.description|truncatechars:150 }}<br/>{{ good.price }}</p>
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
    <br><br><br><br><br><br><br>
    <section>
        <ul class="actions">
            <li><a href="#" class="button primary">pagination</a></li>

            {% if goods.has_previous %}
                <li><a href="{% compile_url page=goods.previous_page_number %}" class="button">previous</a></li>
            {% else %}
                <li><a href="#" class="button disabled">previous</a></li>
            {% endif %}
            {% if goods.has_next %}
                <li><a href="{% compile_url page=goods.next_page_number %}" class="button">next</a></li>
            {% else %}
                <li><a href="#" class="button disabled">next</a></li>
            {% endif %}

            <li><a href="#" class="button primary">page: {{ goods.number }}</a></li>
        </ul>
    </section>
{% endblock %}
