{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}
    <header>
        <h1>About<br /></h1>
        <p>Freak Lab — это инженерная мастерская, где идеи превращаются в реальные объекты. Мы занимаемся 3D-печатью, лазерной резкой на ЧПУ и изготовлением изделий из металла любой сложности — от прототипов и функциональных деталей до кастомных проектов и малых серий.
Здесь можно быстро проверить гипотезу, собрать рабочий образец или реализовать нестандартное техническое решение. Мы работаем с разными материалами и технологиями, чтобы обеспечить точность, прочность и гибкость в производстве.</p>

<p>Freak Lab — пространство, где эксперименты становятся результатом.</p>
    </header>
{% endblock %}
