{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}
    <header>
        <h1>Не бойся пробовать</h1>
        <p>Freak Lab — лаборатория 3D-печати, ЧПУ лазерной резки и металлообработки для создания прототипов и уникальных изделий.</p>
    </header>
    <section class="tiles">
        {% some_goods as goods %}
        {% if goods %}
            {% for good in goods %}
                <article class="style7">
                    <span class="image">
                        <img src="{{ good.image.url }}" alt="" />
                    </span>
                    <a href="{% url 'goods:product' good.slug %}">
                        <h2>{{ good.name }}</h2>
                        <div class="content">
                            <p>{{ good.description|truncatechars:150 }}<br/>{{ good.price }}</p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}
